* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: rgb(240, 240, 240);
}

/* header section */
#navbar {
  background-color: #BE3144;
  height: 64px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#navbar #nav-links {
  list-style-type: none;
  display: flex;
  height: 100%;
  align-items: center;
}
#navbar #nav-links .nav-link {
  font-size: 2.2rem;
  text-decoration: none;
  font-weight: 500;
  padding: 16px 30px;
  color: rgb(240, 240, 240);
}
#navbar #nav-links .nav-link:hover {
  background-color: #45567D;
}

/* welcome section */
#welcome-section {
  margin-top: 64px;
  width: 100%;
  height: calc(100vh - 64px);
  background: linear-gradient(52deg, rgb(62, 62, 62) 0%, rgb(32, 32, 32) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#welcome-section .name {
  font-size: 6rem;
}
#welcome-section .profession {
  text-align: center;
  font-size: 4rem;
  font-weight: 200;
  font-style: italic;
  color: RGB(190, 49, 68);
}

/* project-section */
#projects {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #45567D;
}
#projects .project-h2 {
  text-align: center;
  display: inline-block;
  font-size: 4.8rem;
  margin: 80px 0;
  border-bottom: 3px solid white;
}
#projects .project-tile-wrapper {
  display: grid;
  max-width: 100vw;
  grid-template-columns: auto auto auto;
  grid-auto-rows: auto;
  grid-gap: 50px;
  justify-content: center;
}
#projects .project-tile-wrapper .project-tile {
  max-width: 390px;
  max-height: 400px;
  color: rgb(240, 240, 240);
  text-decoration: none;
  background-color: white;
}
#projects .project-tile-wrapper .project-tile .project-img {
  width: 100%;
  height: calc(100% - 55px);
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
#projects .project-tile-wrapper .project-tile .project-name {
  width: 100%;
  display: block;
  font-size: 2rem;
  line-height: 55px;
  text-align: center;
  background-color: #303841;
}
#projects .project-tile-wrapper .project-tile .project-name .code {
  color: #303841;
  transition: color 0.5s ease-out;
}
#projects .project-tile-wrapper .project-tile:hover .code {
  color: orange;
}
#projects .btn-div {
  display: flex;
  justify-content: center;
  border-radius: 2px;
  margin: 60px auto;
}
#projects .btn-div #profile-link {
  background-color: #303841;
  font-size: 2rem;
  padding: 15px 0 15px 20px;
  text-decoration: none;
  color: white;
}
#projects .btn-div .right-angle {
  padding: 0 20px 0 15px;
}

/* contact section */
#contact-section {
  background-color: #303841;
  width: 100%;
  height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact-section .contact-h2 {
  font-size: 6rem;
  font-weight: 600;
  text-align: center;
}
#contact-section .contact-question {
  font-size: 2.2rem;
  font-weight: 200;
  font-style: italic;
  margin-bottom: 40px;
}
#contact-section #contact-links {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 30px;
  gap: 35px;
}
#contact-section #contact-links .contact-link {
  font-size: 2.2rem;
  text-decoration: none;
  color: rgb(240, 240, 240);
}
#contact-section #contact-links .contact-link .ffc-icon {
  color: inherit;
}

/* footer */
#footer {
  width: 100%;
  height: 80px;
  background-color: #303841;
  border-top: 4px solid #BE3144;
  display: flex;
  justify-content: space-around;
  font-size: 1.6rem;
  align-items: center;
  font-weight: 400px;
  color: rgb(240, 240, 240);
}

@media (max-width: 1240px) {
  #projects .project-tile-wrapper {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 900px) {
  #projects .project-tile-wrapper {
    grid-template-columns: auto;
  }
}
@media (max-width: 1000px) {
  #footer {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 480px) {
  #navbar {
    justify-content: center;
  }
  #navbar #nav-links .nav-link {
    font-size: 2rem;
  }
  #welcome-section .name {
    font-size: 4.5rem;
  }
  #welcome-section .profession {
    font-size: 2.8rem;
  }
  #projects {
    padding: 0 15px;
  }
  #projects .project-h2 {
    font-size: 3rem;
    border: none;
  }
  #projects .project-tile-wrapper .project-tile .project-name {
    font-size: 1.6rem;
  }
  #projects .btn-div #profile-link {
    font-size: 1.6rem;
  }
  #contact-section {
    height: 82vh;
  }
  #contact-section .contact-h2 {
    font-size: 3.4rem;
  }
  #contact-section .contact-question {
    font-size: 1.8rem;
  }
  #contact-section #contact-links .contact-link {
    font-size: 1.8rem;
  }
}/*# sourceMappingURL=styles.css.map */